.embeddedServiceSidebarHeader #headerTextLabel {
    font-family: 'adineuePROCyr-Light' !important;
    font-size: 16px !important;
}

.embeddedServiceLiveAgentStatePrechatDefaultUI .startButton .label, .embeddedServiceSidebarDialogState .dialogButton .label, .embeddedServiceLiveAgentStateChat .endChatContainer .closeChatButton .label, .embeddedServiceLiveAgentStateChat .endChatContainer .postChatButton .label, .embeddedServiceLiveAgentStateWaiting .waitingCancelChat .label{
    font-family: 'adineuePROCyr-Black' !important;
    padding-top: 10px !important;
    padding-bottom: 7px !important;
}